html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Navbar styling */
nav{
    background-color: #FFF5F5;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    color: #111122;
}

.logo h1{
    font-family: "Pacifico", cursive;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 200;
    color: #b37272;
}

.nav-items{
    display: flex;
    list-style: none;
    gap: 20px;

}

.nav-items a{
    text-decoration: none;
}

a:visited{
    color: #111122;
    text-decoration: underline;
}
/* Home styling */
.home{
    background-image: url("https://img.freepik.com/free-vector/realistic-podium-pink-pastel-background_52683-89703.jpg?t=st=1710928712~exp=1710929312~hmac=018017d06fd1e9fa3eee6225219098509c45a9bf99112a64bd3b6a7e62be042b") ;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.name-portfolio{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
}


































.footer{
    text-align: center;
    background-color: #FFCCCC;
    padding: 20px 0;
    color: #111122;
}

.footer h4{
    font-weight: 400;
}

